/* 
paragraph font size = 20px : 1.25rem,
h1 font size = 60px : 3.75rem,
h2 font size = 35px : 2.188rem,
h3 font size = 20px : 1.25rem


*/

html {
  overflow-x: hidden;
  scrollbar-width: thin;

}

@font-face {
  font-family: Courier-Std;
  src: url(./font/CourierStd.otf);
}
@font-face {
  font-family: Courier-Std;
  src: url(./font/CourierStd-Bold.otf);
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Courier Std,'Courier New', Courier, monospace;
  scrollbar-color: black white;
}



body > div{
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.81);
  background-image: url("./images/white-paper-texture.png");
  overflow-x: hidden;
  border-top: 2px solid black;
  border-bottom: 8px solid black;
}

h1{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  mix-blend-mode: color-burn;
}

h2{
  font-size: 20px;
  mix-blend-mode: color-burn;
}

h3{
  font-weight: normal;
  mix-blend-mode: color-burn;
  font-weight: bold;
}

p{
  font-size: 16px;
  mix-blend-mode: color-burn;
}

/* Home page */

.type-writer {

  /* Typewriter blink animation */
  border-right: 6px solid #000000;
  padding-right: 8px;
  animation: blink 0.75s infinite;
}

@keyframes blink {
  from {
    border-right: 6px solid transparent;
  }
}


.staple-pin{
  width: 5%;
  position: absolute;
  top: 1vh;
  left: 10px
}

#home-pg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coffee-stain{
  position: relative;
  right: 0%;
}

.coffee-stain img{
  width: 25vw;
}

.intro-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  mix-blend-mode: color-burn;
}
.intro-text div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-top: 80px;
}

.intro-text h1{
  margin-bottom: 20px;
}

.intro-text h2{
  margin-block: 20px;
  font-weight: normal;
}

.side-props{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  width: auto;
}

.lens-cap{
  width: 20vw;
  height: 30vh;
  background-image: url("./images/Mask\ Group 5.png");
  background-size: cover;
  background-repeat: no-repeat;

}

/* .lens-cap img{
  width: 35vh;
} */

.polaroid{
  position: relative;
  height: 420px;
  width: 400px;
  background-image: url("./images/Group\ 84.png");
  background-size: contain;
  mix-blend-mode:multiply;
  background-repeat: no-repeat;
  background-position:  right center;
}

.polaroid-tape{
  height: 40%;
  width: 40%;
  background-image: url("./images/polaroid-tape.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10;
  left: 35%;
  top: 0;
}

.shadow-and-jamali{
  height: 85%;
  width: 85%;
  background-image: url("./images/jamali-and-shadow.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 11%;
  left: 15%;
  mix-blend-mode: lighten;
}

.mobile-home-bottom{
  display: none;
}

@media screen and (max-width: 1000px){

  h1{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    mix-blend-mode: color-burn;
  }
  
  h2{
    font-size: 18px;
    mix-blend-mode: color-burn;
  }
  
  h3{
    font-weight: normal;
    mix-blend-mode: color-burn;
    font-weight: bold;
    font-size: 16px;
  }
  
  p{
    font-size: 14px;
    mix-blend-mode: color-burn;
  }

  .staple-pin{
    width: 20%;
    position: absolute;
    top: 1vh;
    left: 10px
  }
  
  #home-pg{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .coffee-stain{
    position: absolute;
    left: 0%;
    top: 60%;
    z-index: 0;
  }
  
  .coffee-stain img{
    width: 55vw;
  }
  
  .intro-text{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 80%;
    mix-blend-mode: color-burn;
    padding-top: 0;
    padding-top: 50%;
  }
  .intro-text div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 4rem;
  }
  
  .intro-text h1{
    margin-bottom: 20px;
  }
  
  .intro-text h2{
    margin-block: 20px;
    font-weight: normal;
  }
  
  .side-props{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
  }
  
  .lens-cap{
    display: none;
  }
  
  .polaroid{
    position: relative;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .polaroid-tape{
    height: 40%;
    width: 40%;
    background-image: url("./images/polaroid-tape.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 10;
    left: 35%;
    top: 0;
  }
  
  .shadow-and-jamali{
    position: absolute;
    width: 81%;
    height: 81%;
    top: 4.2%;
    left: 18.5%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
  }

  .intro-text p{
    display: none;
  }

  .mobile-home-bottom{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
  }

  .lens-cap-mobile{
    align-self: flex-end;
    position: relative;
    width: 130px;
    height: 130px;
    background-image: url("./images/lens-cap-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  right bottom;
  }

  .mobile-copyright{
    align-self: flex-end;
    padding-left: 1rem;
  }
}

/* Home page */

/* .staple-pin1{
  width: 8%;
  position: relative;
  top: 1vh;
  left: 20px
} */

/* Page 1 */

#story-pg1{
  padding: 2rem;
  padding-right: 0;
  padding-bottom: 0;
  height: auto;
}

.pg1-content{
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
}

.script-pg1{
  width: 60vw;
  justify-self: center;
}

.script-1 p:nth-child(3){
  padding-top: 1rem;
}

.para-inner{
  width: 90%;
  padding-left: 40%;
  padding-block: 0.5rem;
}

.para-inner h3{
  text-align: center;
}

#player{
  width: 97%;
}

.man-and-the-mountain{
  width: 40vw;
  height: 100%;
  position: relative;
  align-self: flex-end;
  top: 2rem;
}

.man-and-the-mountain div:nth-child(1){
  display: block;
  position: absolute;
  left: 80%;
  top: 90%;
  z-index: 5;
}

.man-and-the-mountain h3{
  color: white;
  mix-blend-mode: color-burn;
}

.man-and-the-mountain video{
  width: 100%;
  z-index: 0;
}


@media screen and (max-width: 1000px){

  #player{
    padding: 4rem;
  }

  #story-pg1{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    height: 100%;
  }
  
  
  .pg1-content{
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  
  .script-pg1{
    width: 90vw;
    justify-self: center;
  }
  
  .script-1 p:nth-child(3){
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .para-inner{
    width: 100%;
    padding-inline: 20%;
    text-align: left;
  }
  
  .para-inner h3{
    text-align: center;
  }
  
  .placeholder{
    width: 100%;
    mix-blend-mode: color-burn;
  }
  
  .man-and-the-mountain{
    width: 100vw;
    height: 100%;
    position: relative;
    align-self: flex-end;
    top: rem;
  }
  
  .man-and-the-mountain div:nth-child(1){
    display: block;
    position: absolute;
    left: 75%;
    top: 87%;
    z-index: 5;
  }
  
  .man-and-the-mountain h3{
    color: white;
    mix-blend-mode: color-burn;
  }
  
  .man-and-the-mountain video{
    width: 100%;
    z-index: 0;
  }
}

/* Page 1 */

/* Page 2 */

.pg2-content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.pg2-content .script{
  padding-left: 2rem;
  padding-top: 2rem ;
  width: 45vw;
  height: 25vh;
  z-index: 2;
  mix-blend-mode: color-burn;
}

.man-cooking-his-ideas{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

.mchi-web{
  float: right;
  height: 100%;
}

.mchi-mobile{
  display: none;
}

@media screen and (max-width: 1000px){
  
  #story-pg2{
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    height: 100%;
  }
  
  .pg2-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  
  .pg2-content .script{
    padding-left: 1rem;
    padding-top: 10%;
    padding-right: 1rem;
    width: auto;
    height: 30vh;
    z-index: 2;
    mix-blend-mode: color-burn;
  }

  .pg2-content .script p{
    padding-bottom: 1rem;
  }
  
  .man-cooking-his-ideas{
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .mchi-web{
    display: none;
  }
  
  .mchi-mobile{
    display: block;
    height: 100%;
    width: 100%;
  }

  .mchi-mobile video{
    float: right;
    height: 100%;
  }
}

/* Page 2 */

/* Contact Page */

#contact-pg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
  z-index: 3;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: auto;
}

.cool-cat{
  align-self: center;
  justify-self: center;
  padding-bottom: 1%;
}

.cool-cat p{
  font-size: 20px;
  padding-block: 1rem;
}

.cool-cat video{
  width: 100%;
}

.contact-details{
  text-align: center;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  height: 80vh;
}

.contact-me{
  justify-self: start;
}

.contact-me h3{
  font-size: 20px;
  padding-block: 0.3rem;
}

.contact-me p{
  font-size: 20px;
  padding-block: 0.3rem;
}

.icon a{
  display: block;
  transition-duration: 500ms;
}

.icon img{
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.265);
  border-radius: 50%;
}

.icons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1rem;
  width: auto;
}

.icons a{
  transition-duration: 500ms;
}

.icons img{
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.265);
  border-radius: 50%;
}

.contact-button{
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.contact-button :hover{
  cursor: pointer;
}

.icon :hover{
  transform: scale(1.1);
}

.icons :hover{
  transform: scale(1.1);
}

.icons-mobile{
  display: none;
}


@media screen and (max-width: 1000px){

  #contact-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    z-index: 3;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
  }
  
  .cool-cat{
    align-self: center;
    justify-self: center;
    padding-bottom: 0%;
  }

  .cool-cat video{
    mix-blend-mode: normal;
    width: 75%;
  }
  
  .cool-cat p{
    font-size: 20px;
    padding-block: 4;
  }
  
  .contact-details{
    text-align: center;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    height: 90vh;
  }
  
  .contact-me{
    justify-self: center;
  }
  
  .contact-me h3{
    font-size: 18px;
    padding-block: 0.3rem;
  }
  
  .contact-me p{
    font-size: 16px;
    padding-block: 0.3rem;
  }
  
  .icon{
    display: none;
  }
  
  .icons{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
    width: auto;
    mix-blend-mode: color-burn;
  }
  
  .icons-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .icons-mobile a{
    border-radius: 50%;
    display: block;
    padding-inline: 0.5rem;
    
  }
  .icons-mobile img{
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.265);
    border-radius: 50%;
  }
}


/* Contact Page */

