/* 
paragraph font size = 20px : 1.25rem,
h1 font size = 60px : 3.75rem,
h2 font size = 35px : 2.188rem,
h3 font size = 20px : 1.25rem


*/

@font-face {
  font-family: Courier-Std;
  src: url(./font/CourierStd.otf);
}
@font-face {
  font-family: Courier-Std;
  src: url(./font/CourierStd-Bold.otf);
  font-weight: bold;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Courier Std,'Courier New', Courier, monospace;
}

body > div{
  width: 100vw;
  height: 100vh;
  background-image: url("./images/white-paper-texture.png");
}

h1{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  mix-blend-mode: color-burn;
}

h2{
  font-size: 20px;
  mix-blend-mode: color-burn;
}

p{
  font-size: 18px;
  mix-blend-mode: color-burn;
}

/* Home page */

.staple-pin{
  width: 8%;
  position: absolute;
  top: 1vh;
  left: 20px
}

#home-pg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coffee-stain{
  position: relative;
  right: 5%;
}

.coffee-stain img{
  width: 28vw;
}

.intro-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.intro-text div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-top: 80px;
}

.intro-text h1{
  margin-bottom: 20px;
}

.intro-text h2{
  margin-block: 20px;
  font-weight: normal;
}

.side-props{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  height: 100vh;
  
}

.lens-cap img{
  width: 35vh;
}

.polaroid img{
  width: 55vh;
}

/* Page 1 */

/* .staple-pin1{
  width: 8%;
  position: relative;
  top: 1vh;
  left: 20px
} */

#story-pg1{
  padding: 2rem;
  padding-right: 0;
}

.pg1-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.script-pg1{
  height: 100%;
  width: 50%;
  justify-self: center;
}

.para-inner{
  width: 90%;
  padding-left: 40%;
  padding-block: 0.5rem;
}

.placeholder{
  width: 90%;
  mix-blend-mode: color-burn;
}
